@font-face {
    font-family: "Gotham Pro";
    src: url(GothamPro-Black.ttf) format("truetype"),
        url(GothamPro-Black.eot) format("eot"),
        url(GothamPro-Black.woff) format("woff");
    font-weight: 900;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(GothamPro.ttf) format("truetype"),
        url(GothamPro.eot) format("eot"),
        url(GothamPro.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(GothamPro-Medium.ttf) format("truetype"),
        url(GothamPro-Medium.eot) format("eot"),
        url(GothamPro-Medium.woff) format("woff");
    font-weight: 500;
}

.play-button {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: white;
    position: absolute;
    right: 15%;
    top: 25%;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gotham Pro";
}

main {
    position: relative;
    background: #F14E60;
}

.wrapper {
    margin: 0 auto;
    min-height: 100vh;
}

.bottom-figure {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
}

.top-left-angle {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right-angle {
    position: absolute;
    top: 0;
    right: 0;
}

.hero {
    position: relative;
    padding-top: 110px;
    width: 100%;
    text-align: center;
    color: white;
}

.hero__title {
    font-size: 64px;
    line-height: 42px;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero__subtitle {
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
}

.prizes {
    display: flex;
    justify-content: space-between;
}

.prize__wrapper {
    margin-top: auto;
    position: relative;
}

.prize {
    position: relative;
    background: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F15062;
    z-index: 5;
}

.prize--small {
    padding: 12px;
    margin-top: auto;
}

.prize__text--small {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.prize__title--small {
    font-size: 22px;
    font-weight: 900;
    color: #F15062;
}

.prize__description--small {
    font-size: 14px;
    font-weight: 900;
    color: #FF919B;
}

.prize--middle {
    padding: 20px;
}

.prize--big {
    padding: 15px;
    position: relative;
    z-index: 5;
}

.prize__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 18px;
}

.prize__img {
    width: 100%;
}

.prize__guy {
    position: absolute;
    top: -50%;
    z-index: 4;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
}

.prize__dialogue-01 {
    position: absolute;
    z-index: 3;
    top: -217px;
    left: -170px;
}

.prize__dialogue-02 {
    position: absolute;
    z-index: 3;
    top: -231px;
    right: -120px;
}

.prize__dialogue-03 {
    position: absolute;
    z-index: 3;
    top: -199px;
    right: -156px;
}

@media (min-width: 1920px) {
    .not-1920 {
        display: none;
    }
} 

@media (max-width: 1919px) {
    .is-1920 {
        display: none;
    }
}

@media (max-width: 1919px) and (min-width: 1440px) {
    .prize__dialogue-01 {
        width: 400px;
        top:-175px;
        left: -140px;
    }

    .prize__dialogue-02 {
        width: 353px;
        top:-175px;
        right: -80px;
    }

    .prize__dialogue-03 {
        width: 400px;
        top: -162px;
        right: -120px;
    }
}

@media (max-width: 1440px) and (min-width: 1200px) {
    .prize__dialogue-01 {
        width: 326px;
        top:-142px;
        left: -100px;
    }

    .prize__dialogue-02 {
        width: 310px;
        top:-153px;
        right: -80px;
    }

    .prize__dialogue-03 {
        width: 326px;
        top: -132px;
        right: -100px;
    }
}





.prize__description {
    margin-bottom: 64px;
    text-align: center;
    font-weight: 500;
}

.prize__button {
    background-color: black;
    border-radius: 25px;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: white;
    padding: 13px 40px;
    text-transform: uppercase;
    border: none;

    position: absolute;
    bottom: -28px;
    cursor: pointer;
}

.prizes {
    padding-bottom: 110px;
    margin: 0 auto;
}

.prize img {
    width: 100%;
    height: auto;
}

.prize__title--small, .prize__description--small, .prize__title {
    text-transform: uppercase;
}

.hero {
    margin: 0 auto;
}

@media (min-width: 1920px) {
    .prizes {
        width: 1620px;
    }

    .bottom-figure {
        max-height: 73%;
    }

    .prize--small .prize__img {
        margin-bottom: 15px;
    }

    .prize__title--small {
        font-size: 22px;
    }

    .prize__description--small {
        font-size: 15px;
        line-height: 20px;
    }

    .prize--big > img, .prize--middle > img {
        margin-bottom: 20px;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .hero {
        width: 1058px;
    }

    .hero__title {
        font-size: 79px;
        line-height: 80px;
    }

    .hero__subtitle {
        font-size: 36px;
        line-height: 32px;
    }

    .prizes {
        width: 1325px;
    }

    .prize {
        border-radius: 36px;
    }

    .prize {
        padding: 16px;
    }

    .prize--small {
        padding: 10px;
        border-radius: 24px;
    }

    .prize--small .prize__img {
        margin-bottom: 10px;
    }

    .prize__title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .prize__description {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 52px;
    }

    .prize__button {
        padding: 10px 32px;
        font-size: 24px;
        line-height: 24px;
        bottom: -22px;
    }

    .prize--big > img, .prize--middle > img {
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .hero {
        width: 864px;
    }

    .hero__title {
        font-size: 64px;
        line-height: 65px;
    }

    .hero__subtitle {
        font-size: 30px;
        line-height: 26px;
    }

    .prizes {
        width: 1084px;
        padding-top: 220px;
    }

    .prize {
        border-radius: 30px;
        padding: 13px;
    }

    .prize__wrapper {
        width: 237px;
    }

    .prize--middle {
        height: 296px;
    }

    .prize--big {
        height: 285px;
    }

    .prize--big > img, .prize--middle > img {
        margin-bottom: 16px;
        width: 211px;
    }

    .prize--small > .prize__img {
        width: 111px;
    }

    .prize__title {
        font-size: 26px;
        line-height: 34px;
    }

    .prize__description {
        font-size: 13px;
        line-height: 15px;
    }

    .prize__button {
        border-radius: 15px;
        padding: 9px 30px;
        font-size: 20px;
        line-height: 20px;
        bottom: -19px;
    }

    .prize--small {
        padding: 8px;
        border-radius: 19px;
    }

    .prize__title--small {
        font-size: 15px;
    }

    .prize__description--small {
        font-size: 10px;
    }
}

@media (min-width: 1366px) {
    .prizes {
        padding-top: 280px;
    }

    .prize--big {
        max-width: 358px;
    }

    .prize--middle {
        max-width: 374px;
    }

    .prizes > div:not(:last-child) {
        margin-right: 35px;
    }

    .prize--big {
        margin-top: auto;
    }

}

@media (min-width: 720px) and (max-width: 1199px) {
    .desktop-only {
        display: none;
    }

    .hero {
        width: 535px;
        margin: 0 auto;
    }

    .hero__title {
        font-size: 44px;
        line-height: 55px;
    }

    .prizes {
        justify-content: space-around;
        width: 672px;
        margin-top: 150px;
        flex-wrap: wrap;
    }

    .prize__wrapper {
        width: 213px;
        height: 242px;
    }

    .prize {
        padding: 8px;
    }

    .prize:first-child {
        order: 5
    }

    .prize__title {
        margin-bottom: 0;
        font-size: 23px;
        line-height: 32px;
    }

    .prize__description {
        margin-bottom: 32px;
        font-size: 12px;
        line-height: 11px;
    }

    .prize__wrapper:last-child {
        margin-right: 0;
    }

    .prize__guy {
        max-width: 60%;
    }

    .prize--big, .prize--middle {
        padding: 8px;
    }

    .prize--small {
        margin-top: 50px;
        padding: 8px;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
    }

    .prize--small:first-child .prize__img {
        order: 2;
    }

    .prize--big > img, .prize--middle > img {
        width: 193px;
        margin-bottom: 10px;
    }

    .prize__text--small {
        padding-left: 10px;
        padding-right: 16px;
    }

    .prize--small > .prize__img {
        width: 86px;
        height: auto;
    }

    .prize__title--small {
        font-size: 15px;
    }

    .prize__description--small {
        font-size: 8px;
    }

    .prize__button {
        padding: 8px 30px;
        font-size: 21px;
        line-height: 24px;
        bottom: -20px;
        border-radius: 15px;
    }

    .play-button {
        top: 25%;
    }

    .play-button img {
        width: 40px;
        height: 40px;
    }

}

@media (min-width: 1200px) {
    .not-desktop {
        display: none;
    }

    .tablet-only {
        display: none;
    }
}

@media (max-width: 1199px) {
    .desktop-only {
        display: none;
    }
}

/* MODAL */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, 0.3);
    z-index: 10;
    display: none;
}

.modal {
    position: relative;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-close {
    position: absolute;
    background: none;
    border: none;
    top: 3%;
    right: 5%;
    cursor: pointer;
    z-index: 4;
}

.modal-close img {
    pointer-events: none;
}

.modal__form{
    background: white;;
}

.modal__title {
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: 900;
    text-align: center;
    max-width: 450px;
    padding: 60px 75px 20px;
    background-color: #F14E60;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    color: white;
}

.modal__form {
    padding: 20px 75px;
}

.modal__disclamer {
    text-align: center;
    color: #B04D58;
    margin-bottom: 14px;
}

.modal__input {
    margin-bottom: 10px;
}

input {
    width: 100%;
    border: 1px solid #B04D58;
    box-sizing: border-box;
    border-radius: 45px;
    padding: 7px 38px;
    font-size: 13px;
    line-height: 30px;
    outline: none;
}

.modal__button button {
    width: 100%;
    background-color: #F14E60;
    border: 1px solid #B04D58;
    box-sizing: border-box;
    border-radius: 45px;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    padding: 8px 0;
    color: white;
    cursor: pointer;
}

.modal__footer {
    position: relative;
    background-color: #F14E60;
    padding: 10px 40px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}

.modal__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.footer__title {
    font-weight: 900;
    font-size: 13px;
    line-height: 26px;
    color: white;
    margin-left: 35px;
}

.footer__step {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer__step .text {
    color: #FFD5D5;
    font-size: 10px;
    line-height: 11px;
}

.footer__step .number {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 16px;
    font-weight: 900;
    color: #FFD0D4;
    margin-right: 10px;
    width: 23px;
    height: 23px;
    border: 2px solid #FF919B;
    border-radius: 50%;
}

@media (max-width: 720px) {
    .modal  {
        border-radius: 17px;
        max-width: 290px;
        overflow-y: auto;
        height: 704px;
    }

    .modal__content {
        height: 100vh;
    }

    .bottom-figure {
        max-height: 70%;
    }

    .modal__title {
        padding: 40px 15px 10px;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        font-size: 12px;
        line-height: 17px;
    }

    .modal__disclamer { 
        font-size: 10px;
    }

    .modal__form {
        padding: 20px 16px;
    }

    .modal__footer {
        padding: 16px;
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
    }

    input {
        padding: 10px 20px;
        font-size: 10px;
        line-height: 15px;
    }

    .modal__button button {
        font-size: 14px;
        line-height: 15px;
        padding: 10px 0;
    }

    .footer__title {
        text-align: center;
        font-size: 11px;
        line-height: 12px;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer__step {
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .footer__step .number {
        width: 13px;
        height: 13px;
        font-size: 8px;
        line-height: 8px;
    }

    .modal__step .text {
        font-size: 11px;
        line-height: 12px;
    }
}

@media (min-width: 720px) {
    .mobile-only {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 719px) {
    .prizes {
        display: none;
    }

    .modal-close img {
        width: 23px;
        height: 23px;
    }

    .not-mobile {
        display: none;
    }

    .tablet-only, .desktop-only {
        display: none;
    }

    .hero {
        width: 278px;
        padding-top: 35px;
    }

    .hero__title {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .hero__subtitle {
        font-size: 11px;
        line-height: 23px;
    }

    .mobile-slider {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .slider-button {
        width: 100%;
    }

    .play-button {
        top: 20%;
    }

    .play-button img {
        width: 42px;
        height: 42px;
    }

    .wrapper {
        height: 100%;
        overflow: hidden;
    }
}

/* SWIPPER */

.swiper {
    width: 100%;
    height: 412px;
    margin: 0 auto;
    max-width: 340px;
    overflow: initial !important;
}

.swiper-slide {
    display: flex;
    width: 200px;
    height: 344px !important;
    justify-content:center;
    transition: transform 0.3s;
}

.swiper-card .title {
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #F15062;
    margin-bottom: 5px;
    text-align: center;
}

.swiper-card .text {
    font-size: 12px;
    line-height: 12px;
    color: #F15062;
    max-width: 180px;
    text-align: center;
    font-weight: 500;
}

.swiper-image {
    position: absolute;
    max-width: 130px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.swiper-card {
    margin-top: auto;
    padding: 10px;
    border-radius: 19px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    z-index: 5;
}

.swiper-card img {
    width: 180px;
    height: auto;
    margin-bottom: 15px;
    z-index: 3;
}

.swiper-card .subtitle {
    font-size: 16px;
    line-height: 12px;
    color: #FF919B;
}

.swiper-slide-prev, .swiper-slide-next, .swiper-slide-duplicate-prev, .swiper-slide-duplicate-next {
    transform: scale(0.6) !important;
}

.swiper-slide-active {
    transform: scale(1.2) !important;
}

.slider-button {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.play-button > img {
    margin-bottom: 5px;
}

.slider-button .button {
    border-radius: 15px;
    background: black;
    color: white;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: 10px 23px;
    z-index: 3;
    font-weight: 900;
    font-size: 22px;
    line-height: 16px;
}

.swiper-pagination {
    bottom: 0px !important;
}

.swiper-pagination-bullet {
    background-color: white !important;
    width: 6px !important;
    height: 6px !important;
}